<app-header class="mb-8"></app-header>
<div class="container mx-auto p-4">
  <main class="space-y-12">
    
    
    <section class="mb-12">
      <h2 class="flex justify-center text-3xl mt-2 mb-4 font-semibold">
        Parte 1: Banco de Dados SQL
      </h2>
      <p class="text-base leading-relaxed">
        Criar um banco de dados simples com duas tabelas relacionadas (por
        exemplo, "Produtos" e "Categorias"). Inserir alguns dados de exemplo.
        Escrever consultas SQL para recuperar informações específicas, como
        todos os produtos de uma determinada categoria.
      </p>
    </section>
    <section class="mb-12">
      <h2 class="flex justify-center text-3xl mt-2 mb-4 font-semibold">
        Parte 2: API em .NET
      </h2>
      <p class="text-base leading-relaxed">
        Criar uma API REST em .NET Core para expor os dados do banco de dados.
        Implementar endpoints para operações CRUD (Criar, Ler, Atualizar,
        Excluir) em produtos e categorias. Documentar a API usando Swagger ou
        ferramenta similar.
      </p>
    </section>
    <section class="mb-12">
      <h2 class="flex justify-center text-3xl mt-2 mb-4 font-semibold">
        Parte 3: API em Node.js
      </h2>
      <p class="text-base leading-relaxed">
        Criar uma API REST em Node.js para consumir a API .NET desenvolvida
        anteriormente. Implementar endpoints para chamar as operações CRUD da
        API .NET. Documentar a API usando uma ferramenta de preferência.
      </p>
    </section>
    <section class="mb-12">
      <h2 class="flex justify-center text-3xl mt-2 mb-4 font-semibold">
        Parte 4: Front-end Angular
      </h2>
      <p class="text-base leading-relaxed">
        Criar um aplicativo Angular que consuma as APIs desenvolvidas
        anteriormente. Implementar funcionalidades para exibir, adicionar,
        editar e excluir produtos e categorias. Criar uma interface de usuário
        simples, mas funcional.
      </p>
    </section>
    <section class="mb-12">
      <h2 class="flex justify-center text-3xl mt-2 mb-4 font-semibold">
        Parte 5: Integração e Implantação
      </h2>
      <p class="text-base leading-relaxed">
        Implantar o aplicativo completo em um ambiente de teste com acesso
        público (por exemplo, Heroku, Azure App Service, AWS, Github ou serviço
        equivalente ou até local se acessível de fora da rede).
      </p>
    </section>
  </main>
</div>
