<div class="flex flex-col items-center justify-center mt-4">
    <h1 class="text-4xl font-bold text-center text-zinc-700 p-4">Criar Novo Produto</h1>
    <form class="space-y-4 w-full max-w-md">
        <div>
            <label for="name" class="block text-sm font-medium text-gray-700">Nome</label>
            <input type="text" placeholder="Digite nome do Produto" 
                class="mt-1 block w-full py-2 border border-gray-300 rounded-md shadow-sm placeholder:text-sm placeholder:p-2" />
        </div>

        <div>
            <label for="description" class="block text-sm font-medium text-gray-700">Descrição</label>
            <input type="text" id="description" name="description" placeholder="Digite a Descrição do Produto"
                class="mt-1 block w-full py-2 border border-gray-300 rounded-md shadow-sm placeholder:text-sm placeholder:p-2" />
        </div>

        <div>
            <label for="price" class="block text-sm font-medium text-gray-700">Preço</label>
            <input type="number" id="price" name="price" placeholder="ex: R$ 20,35"
                class="mt-1 block w-full py-2 border border-gray-300 rounded-md shadow-sm placeholder:text-sm placeholder:p-2" />
        </div>

        <div>
            <label for="category" class="block text-sm font-medium text-gray-700">Categoria</label>
            <input type="text" id="category" name="category" placeholder="selecione a Categoria"
                class="mt-1 block w-full py-2 border border-gray-300 rounded-md shadow-sm placeholder:text-sm placeholder:p-2" />
        </div>
        <div class="space-x-4">
            <button  type="button" class="px-4 py-2 bg-zinc-200 hover:shadow-md hover:shadow-zinc-400 rounded font-bold"
                onclick="window.location.href='/products'">
                Voltar
            </button>
            <button type="button" class="px-4 py-2  bg-green-300 hover:shadow-md hover:shadow-zinc-400 rounded font-bold"
                onclick="window.location.href='/products/add'">
                Cadastrar Produto
            </button>
        </div>
    </form>
</div>