<app-header-categories></app-header-categories>

<h1 class="text-zinc-700 font-bold text-center text-4xl p-6">Categorias</h1>

<div class="flex justify-center" *ngFor="let category of category">
  <div class="w-full sm:w-3/4 md:w-2/3 lg:w-1/2 xl:w-1/2 my-2 py-2 overflow-x-auto">
    <ul class="divide-y divide-gray-200" >
      <li class="px-6 py-4 whitespace-nowrap shadow-sm shadow-black">
        <div class="flex items-center justify-between">
          <div class="ml-4">
            <div class="text-sm font-semibold text-gray-900">
              {{category.id}}
              {{category.name}}
            </div>
          </div>
          <div class="flex">
            <div class="p-2">
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded"
                onclick="window.location.href='/products/update'">
                Atualizar
              </button>
            </div>
            <div class="p-2">
              <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded"
                onclick="window.location.href='/products/delete'">
                Deletar
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
